html {
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif;
  box-sizing: inherit;
}

.container {
  width: 96%;
  margin: 0 auto;
}

.section-title {
  font-weight: 700;
  color: #fff;
  font-size: 36px;
  padding-bottom: 60px;
}

.container-navigation,
.container-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container-footer {
  flex-direction: column;
  justify-content: center;
}

.list-navigation {
  display: none;
}

.logo {
  font-size: 18px;
  font-weight: 700;
}

nav,
.footer {
  display: flex;
  background-color: rgba(78, 78, 78, 1);
  height: 50px;
  color: #fff;
}

a {
  color: #fff;
  text-decoration: none;
}

.contact {
  cursor: not-allowed;
}

.header {
  display: flex;
  height: calc(100vh - 50px);
  background-image: url(./img/img7.png);
  background-size: cover;
  color: #fff;
}

.header-cover {
  width: 100%;
  margin: 0;
  background: rgba(0, 0, 0, 0.4);
}

.header-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  margin: 0 auto;
}

.wrapper-header-content {
  display: flex;
  flex-direction: column;
  width: 65%;
}

.header-paragraph {
  font-size: 18px;
  padding-bottom: 50px;
}

.button-link {
  background-color: transparent;
  text-align: center;
  width: 170px;
  font-size: 18px;
  font-weight: 700;
  padding: 10px 0px;
  color: #fff;
  border: 3px solid #ffffff;
}

.about-us {
  display: flex;
  width: auto;
  background: rgba(241, 241, 241, 1);
  padding: 50px 0px;
}

.container-employees {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.employees-section-title {
  color: #152d41;
}

.img-employee-one,
.img-employee-two {
  height: 200px;
  aspect-ratio: 1;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
}

.img-employee-one {
  background-image: url("./img/Pracownik-1.PNG");
}

.img-employee-two {
  background-image: url("./img/Pracownik-2.PNG");
}

.about-employee {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.employee-description,
.new-offer-paragraph {
  font-size: 18px;
  text-align: justify;
}

.employee-one,
.employee-two {
  margin: 30px 0px;
  width: 90%;
}

.employee-name-and-department {
  font-size: 18px;
  font-weight: 700;
  padding-bottom: 30px;
}

.offer-section {
  background-color: rgba(64, 93, 120, 1);
  padding: 50px 0px;
}
.container-offer {
  text-align: center;
}

.container-box-offer {
  display: grid;
  grid-template-columns: repeat(1, 50%);
  justify-content: center;
  gap: 50px;
}

.box {
  display: flex;
  aspect-ratio: 1;
  background-color: rgba(241, 241, 241, 1);
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 24px;
}

.box-new-offer {
  display: flex;
  flex-direction: column;
  position: relative;
}

.dot {
  width: 22px;
  height: 22px;
  background: rgba(224, 122, 100, 1);
  border-radius: 50%;
  position: absolute;
  top: -11px;
  left: -11px;
}

.footer {
  height: 150px;
}

.fa-brands {
  font-size: 30px;
  padding: 10px;
}

.icons-list {
  display: flex;
  flex-direction: row;
}

@media screen and (min-width: 768px) {
  .container {
    width: 94%;
  }

  .container-employees,
  .container-offer {
    text-align: start;
  }

  .container-box-offer {
    grid-template-columns: repeat(2, 200px);
  }
}

@media screen and (min-width: 1024px) {
  .container {
    width: 960px;
    margin: 0 auto;
  }

  .list-navigation {
    display: flex;
    width: 300px;
    justify-content: space-between;
  }

  .button-link {
    cursor: pointer;
    transition: 1s;
  }

  .button-link:hover {
    background-color: #fff;
    color: black;
  }

  .container-employees {
    align-items: start;
  }

  .about-employee {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .about-employee-two {
    flex-direction: row-reverse;
  }

  .container-box-offer {
    grid-template-columns: repeat(3, 200px);
  }

  .employee-two {
    text-align: right;
    margin: 20px;
  }

  .employee-one {
    margin: 20px;
    text-align: left;
  }

  .box {
    transition: 0.5s;
  }

  .box:hover {
    transform: scale(1.05);
  }

  .footer {
    height: 70px;
  }

  .container-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
