* {
  box-sizing: border-box;
}

html {
  width: 100vw;
  height: 100vh;
  scroll-behavior: smooth;
  overflow-x: hidden;
}
body {
  font-family: "Roboto", sans-serif;
}
.container {
  width: 94%;
  margin: 0 auto;
}
/***Nawigacja Strony***/

.logo {
  display: flex;
  font-weight: 700;
}
nav {
  display: flex;
  background-color: rgba(78, 78, 78, 1);
  font-weight: 400;
  height: 50px;
  color: #fff;
}
a {
  display: flex;
  color: #fff;
  text-decoration: none;
}
.contact {
  cursor: not-allowed;
}
.list-navigation {
  display: none;
}
.container-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/***Header***/
header {
  display: flex;
  height: calc(100vh - 50px);
  background-image: url(./img/img7.png);
  background-size: cover;
  color: #fff;
}
.cover {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}
.container-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 96%;
}
.wrapper {
  display: block;

  width: 60%;
}

.main-header {
  display: flex;
  word-wrap: break-word;
  font-weight: 700;
  font-size: 36px;
}
.paragraph-main {
  font-size: 18px;
  margin-top: 50px;
}
.main-button {
  background-color: transparent;
  font-size: 18px;
  font-weight: 700;
  padding: 10px 80px 10px 80px;
  color: #fff;
  border: 3px solid #ffffff;
  margin: 30px 0px 0px 0px;
  cursor: pointer;
  display: none;
}

/********Pracownicy************/

#about {
  display: flex;
  justify-content: center;
  background: rgba(241, 241, 241, 1);
  padding: 50px 0px 50px 0px;
}
.container-employees {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.header-employe {
  font-size: 36px;
  font-weight: 700;
  color: #152d41;
}
.about-employe-one {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}
.img-employe-one {
  width: 190px;
  height: 190px;
  background-image: url(./img/Pracownik-1.PNG);
  background-size: cover;
  border-radius: 50%;
}
.employe-one {
  margin-left: 30px;
  text-align: left;
  width: 70%;
  padding-top: 20px;
}
.about-employe:nth-of-type(odd) {
  justify-content: left;
}
.about-employe-two {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.img-employe-two {
  width: 190px;
  height: 190px;
  border-radius: 50%;
  background-image: url(./img/Pracownik-2.PNG);
  background-size: cover;
}
.employe-two {
  text-align: right;
  margin-right: 30px;
  width: 70%;
  padding-top: 20px;
}
.about-employe:nth-of-type(even) {
  justify-content: right;
}
.paragraph-employees {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 400;
}
.name-employees {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 30px;
}

/******************Offer********************/
#offer {
  display: flex;
  background-color: rgba(64, 93, 120, 1);
  padding: 50px 0px 200px 0px;
}
.container-offer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.header-offer {
  font-weight: 700;
  color: #fff;
  font-size: 36px;
}
.box-offer {
  width: 75%;
  display: grid;
  margin: 0 auto;
  padding-top: 30px;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
  row-gap: 3%;
}
.box {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 190px;
  height: 190px;
  background-color: rgba(241, 241, 241, 1);
  color: rgba(0, 0, 0, 1);
  font-size: 24px;
  font-weight: 700;
}

.box-1 {
  display: flex;
  flex-direction: column;
  position: relative;
}
.box-paragraph {
  font-weight: 400;
  font-size: 18px;
}
.dot {
  width: 22px;
  height: 22px;
  background: rgba(224, 122, 100, 1);
  border-radius: 50%;
  position: absolute;
  top: -11px;
  left: -11px;
}
/******************Footer********************/
.logo {
  display: flex;
  font-weight: 700;
}
.footer {
  display: flex;
  background-color: rgba(78, 78, 78, 1);
  font-weight: 400;
  height: 70px;
  color: #fff;
}

.container-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-icons {
  display: flex;
  /* justify-content: end; */
  /* padding-right: 30px; */
}
.instagram {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 31px;
  height: 31px;
  border: 3.5px solid white;
  border-radius: 30%;
  position: relative;
  margin-right: 10px;
  cursor: pointer;
}
.inside-instagram {
  width: 15px;
  height: 15px;
  border: 3.5px solid white;
  border-radius: 50%;
}
.dot-instagram {
  width: 2.5px;
  height: 2.5px;
  background: #ffffff;
  border-radius: 50%;
  position: absolute;
  top: 3px;
  left: 19px;
}
.facebook {
  width: 31px;
  height: 31px;
  color: rgba(78, 78, 78, 1);
  background: #ffffff;
  font-weight: 900;
  border-radius: 20%;
  position: relative;
  cursor: pointer;
}
.paragraph-facebook {
  position: absolute;
  bottom: -7px;
  left: 12px;
  font-size: 35px;
}

@media screen and (min-width: 360px) {
  .container {
    width: 96%;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 720px;
  }

  .list-navigation {
    display: flex;
    justify-content: space-between;
    width: 300px;
  }

  #offer {
    padding-bottom: 50px;
  }
  .box-offer {
    max-width: 768px;
    grid-template-columns: 1fr 1fr;
  }
  .main-button {
    display: flex;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    width: 960px;
  }

  .main-button:hover {
    background-color: #fff;
    color: black;
    transition: 1s;
  }
  #about {
    padding: 0px;
    height: 100vh;
  }

  .about-employe-one {
    flex-direction: row;
  }
  .about-employe-two {
    flex-direction: row-reverse;
  }
  #offer {
    height: calc(100vh - 70px);
    padding: 0px;
  }
  .box:hover {
    transform: scale(1.05);
    transition-duration: 0.5s;
  }

  .box-offer {
    grid-template-columns: 1fr 1fr 1fr;
    height: 460px;
    width: 75%;
    align-items: center;
    justify-items: center;
    padding-top: 0px;
  }
  .footer-icons {
    padding-right: 0px;
  }
  .about-employe-one {
    padding: 0px;
  }
}
